javascript:
  asyncLoader(['//code.jquery.com/jquery-2.1.1.min.js']);

- page.javascripts.each do |js|
  javascript:
    asyncLoader(['#{javascript_tag(js)}']);

javascript:
  WebFontConfig = {
    google: {families: ['Open+Sans:400,300,600,700']}
  };
  (function () {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();

javascript:
  asyncLoader(['http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css']);
