img.img-responsive data-src="<480=#{mobile_url}|<768=#{tablet_url}|<1024=#{tablet_url}|>1024=#{desktop_url}" data-src2x="<480=#{mobile_retina_url}|<768=#{tablet_retina_url}|<1024=#{tablet_retina_url}|>1024=#{desktop_retina_url}"